streamlit
numpy==1.25.2
pandas==2.1.0
yfinance==0.2.31
gspread
seaborn
matplotlib
torch
scikit-learn
requests
# ollama
# chromadb
# pdfplumber
# langchain
# langchain-core
# langchain-community
# langchain_text_splitters
# unstructured
# unstructured[all-docs]
# onnx==1.16.1
