streamlit
numpy==1.25.2
pandas==2.1.0
yfinance==0.2.31
gspread
seaborn
matplotlib
torch
scikit-learn
requests
google-generativeai
langchain
langchain_google_genai
langchain_community
chromadb
pypdf
faiss-cpu
Pillow
